@model Mvp.Feature.Evaluation.Rendering.Model.EvaluationModel

<section class="bg-gray">
    <div class="container">
        <div id="items"></div>
        <div class="row mt-5">
            <div class="col d-flex justify-content-end">
                <button id="submit" type="button" class="btn btn-primary" disabled data-toggle="button" aria-pressed="false" autocomplete="off">
                    Submit
                </button>
            </div>
        </div>

    </div>
</section>

